cargo-features = ["profile-rustflags"]

[package]
name = "prover_research"
version = "0.1.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
blake2 = "0.10.6"
blake3 = "1.5.0"
byteorder = "1.5.0"
hex = "0.4.3"
more-asserts = "0.3.1"
num-traits = "0.2.17"

[dev-dependencies]
criterion = { version = "0.5.1", features = ["html_reports"] }
rand = "0.8.3"

[features]
avx512 = []

[profile.release]
opt-level = 2
rustflags = ["-C", "target-cpu=native"]
debug = 2

[[bench]]
harness = false
name = "field"


[[bench]]
name = "merkle_bench"
harness = false
