name: Coverage

on: [pull_request, push]

jobs:
  coverage:
    runs-on: stwo-avx
    env:
      CARGO_TERM_COLOR: always
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/bootstrap_runners
      - uses: dtolnay/rust-toolchain@master
        with:
          components: rustfmt
          toolchain: nightly-2025-01-02
      - uses: Swatinem/rust-cache@v2
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
        # TODO: Merge coverage reports for tests on different architectures.
        # <https://github.com/taiki-e/cargo-llvm-cov?tab=readme-ov-file#merge-coverages-generated-under-different-test-conditions>
      - name: Generate code coverage
        run: cargo +nightly-2025-01-02 llvm-cov --codecov --output-path codecov.json
        env:
          RUSTFLAGS: "-C target-feature=+avx512f"
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
          fail_ci_if_error: true
